// app内容宽度百分比
$appContentWidth: 50rem;
// app内容最小宽度
$appMinWidth: 1024px;
// 主题颜色
$rootColor:#96C321;
// 页面背景色
$appBackColor: #f8f8f8;

// ele
/* 改变主题色变量 */
$--color-primary: #96C321;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.f-c-root {
    color: $rootColor !important;
}

.b-c-root {
    background-color: $rootColor !important;
}

.b-c-app {
    background-color: $appBackColor !important;
}
.bor-c-root {
    border-color: $rootColor !important;
}
.root-hover:hover{
    color: $rootColor;
}


